.teacher-img {
  height: 82px;
  width: 82px;
}
.Instructor {
  text-align: left;
}
.Instructor-box {
  display: flex;
  justify-content: start;
  align-items: center;
}
@media all and (max-width: 688px) {
  .teacher-img {
    height: 82px;
    width: 82px;
  }
  .teacher-heading {
    font-size: 14px;
  }
  .Instructor {
    text-align: center;
  }
  .Instructor-box {
    flex-direction: column;
    justify-content: center;
  }
}
