.entireCourse {
  width: 90%;
  display: flex;
  justify-content: space-between;
}
.instructor {
  width: 80%;
}
.courseCard {
  width: 55%;
  margin-top: 3%;
}
.teacher-img {
  height: 82px;
  width: 82px;
}

@media all and (max-width: 688px) {
  .teacher-img {
    height: 82px;
    width: 82px;
  }
  .teacher-heading {
    font-size: 14px;
  }
  .Instructor {
    text-align: center;
  }
  .Instructor-box {
    flex-direction: column;
    justify-content: center;
  }
  .instructor {
    width: 100%;
    margin-top: 5%;
  }
  .courseCard {
    width: 100%;
    margin-top: 6%;
  }
  .entireCourse {
    width: 100%;
    flex-direction: column-reverse;
    justify-content: center;
  }
}
