@media all and (max-width: 688px) {
	.faQuoteRight {
		/* display: none; */
		position: absolute;
		right: 10px;
		opacity: 20%;
	}
	.text-p {
		font-size: 16px;
		text-align: left;
	}
}
.pagination .swiper-horizontal > .swiper-pagination-bullets {
	bottom: -30px !important;
}
.pagination .swiper {
	overflow: visible;
}
.pagination .swiper-pagination-bullet-active {
	background-color: #EF4444 !important;
}
