@media screen and (max-width:639px) {
    .description{
        display: none!important;
    }
    .slider-text h3{
        display: none;
    }
    .slider-text button{
        padding: 5px 10px;
        font-size: 14px;
    }
}

.head-text{
    line-height: 70px;
}