  .overlay {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: .3s ease;
    transition: ease-in-out 0.3s;
  }
  .teacher-container:hover .overlay {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  .performer-container{
    background-image: url("https://i.ibb.co/5hy56Bn/why-shape-pink.png");
    background-position:top left;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
