aside {
	height: 100%;
	width: 200px;
	transform: translateX(0px);
}

.right {
	animation: slide-in 1s forwards !important;
}
.left {
	animation: slide-out 1s forwards !important;
}

aside ul .li,
.logout {
	padding: 11px 3px;
}

aside ul .li:hover,
aside ul .li:hover .icon,
.logout:hover,
.logout:hover .icon,
aside ul .li:hover span {
	background-color: #dc3545;
	color: white !important;
}
aside ul .li:focus,
aside ul .li:focus .icon,
.logout:focus,
.logout:focus .icon,
aside ul .li:focus span {
	background-color: #dc3545;
	color: white !important;
}

@keyframes slide-in {
	0% {
		transform: translateX(-300px);
	}
	100% {
		transform: translateX(0px);
	}
}

@keyframes slide-out {
	0% {
		transform: translateX(0px);
	}
	100% {
		transform: translateX(-300px);
	}
}
.menu .topDashboard:hover .flex {
	background-color: transparent !important;
}
.menu :where(li) {
	/* 	border: 1px solid white !important;
	border-radius: 9px !important; */
	margin: 2px 0 !important;
}
.menu :where(li:not(.menu-title):not(:empty)) > :where(:not(ul).active),
.menu :where(li:not(.menu-title):not(:empty)) > :where(*:not(ul):active) {
	background-color: #dc3545 !important;
}
.menu :where(li:not(.menu-title):not(:empty)) > :where(:not(ul).active) .icon,
.menu :where(li:not(.menu-title):not(:empty)) > :where(*:not(ul):active) .icon {
	color: white !important;
}

.menu :where(li:not(.menu-title):not(:empty)) > :where(:not(ul).hover),
.menu :where(li:not(.menu-title):not(:empty)) > :where(*:not(ul):hover) {
	background-color: #dc3545 !important;
}
.menu :where(li:not(.menu-title):not(:empty)) > :where(:not(ul).hover) .icon,
.menu :where(li:not(.menu-title):not(:empty)) > :where(*:not(ul):hover) .icon {
	color: white !important;
}
.menu {
	background-color: #111827 !important;
	max-width: 270px !important;
}
