.dashboard-text {
  font-size: 35px;
  color: #c7ad8b;
  text-align: center;
}
.icons {
  height: 15px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}
hr.dashboard-hr {
  border: 1px solid #ef4444;
  width: 90%;
}

.side-menu {
  background-color: #212529;
  color: white;
  font-weight: bold;
  align-self: flex-start;
  position: sticky;
  top: 20%;
}

.dash-nav {
  display: flex;
  flex-direction: column;
}

.dashboard-section {
  width: 100%;
  padding: 0px 60px 0px 60px;
}

.dashboard-navText {
  color: #ffffff;
  font-size: 12px;
  display: flex;
  align-items: center;
}
.dashboard-navText:hover {
  color: #dc3545;
}
.dashboard-navText-active {
  color: #dc3545;
}
/* //////////////////// Media Queries ///////////////////// */

@media all and (max-width: 688px) {
  .d-navText {
    display: none;
  }
  .side-menu {
    width: 64px;
    top: 15%;
  }
  .icons {
    font-size: 20px;
    height: 20px;
    width: 20px;
  }
  .dashboard-section {
    padding: 0px 0px 0px 20px;
  }
  .dashboard-text {
    font-size: 30px;
  }
}
