aside {
	height: 100%;
	width: 200px;
	transform: translateX(0px);
}

.right {
	animation: slide-in 1s forwards !important;
}
.left {
	animation: slide-out 1s forwards !important;
}

aside ul .li,
.logout {
	padding: 11px 3px;
}

aside ul .li:hover,
aside ul .li:hover .icon,
.logout:hover,
.logout:hover .icon,
aside ul .li:hover span {
	background-color: #dc3545;
	color: white !important;
}
aside ul .li:focus,
aside ul .li:focus .icon,
.logout:focus,
.logout:focus .icon,
aside ul .li:focus span {
	background-color: #dc3545;
	color: white !important;
}

@keyframes slide-in {
	0% {
		transform: translateX(-300px);
	}
	100% {
		transform: translateX(0px);
	}
}

@keyframes slide-out {
	0% {
		transform: translateX(0px);
	}
	100% {
		transform: translateX(-300px);
	}
}
