.sign-shadow {
    text-shadow: 2px 2px 0 #000000a2;
  }
  
  .signin-btn {
    outline: none;
    border: none;
    padding: 10px 10px 10px 10px;
    border-radius: 30px;
    width: 250px;
    background-color: white;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  }