.App {
	text-align: center;
}
/* For Footer */
.page-container {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
.content-wrap {
	flex: 1;
}
.nav-up {
	top: -90px;
	transition: all 0.5s;
}
