.bg-style{
    background-image:linear-gradient(rgba(0, 0, 0, 0.383),rgba(0, 0, 0, 0.418)),url("https://i.ibb.co/b263ZBR/slider-2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
}